@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;

  /* Isso aqui é uma mão na roda uma vez que reseta todas as definições padrões de margin e padding permitindo assim uma configuração inicial para todos os elementos do site no que se refere aos valores dos elementos de caixa */
}

body,
html {
  min-height: 100vh;
  background-color: darkgray;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
}

header > p {
  padding-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

article {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}

article.normal {
  background-color: white;
  color: black;
}

article.imagem {
  background-color: brown;
  color: rgb(255, 255, 147);
}

article.imagem > p {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.257);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
